.vedio-name
        {
            color:black;
            font-family:arial;
            font-size:18px;
            line-height: 25px;
        }
        .vedio-author{
            color: grey;
            font-family:arial;
            margin-bottom: 10px;
        }
        .vedio-views,
        .vedio-duration{
            color: grey;
            font-family:arial;
            display:inline-block;
            margin-top: 2px;
        }
        .thumbnail1{
            width:100%;
            border-radius: 6px;
        }
        .vedio{
            display:grid;
            grid-template-columns:300px ;
        }
        .vedio-info{
            display:grid;
            grid-template-columns:50px 1fr;
            column-gap: 6px;;
        }
        .author-img
        {
            width: 75%;
            margin-top: 20px;
            
        }
        .yt{
            display: grid;
            grid-template-columns:1fr 1fr 1fr;
            column-gap: 16px;
            row-gap: 40px;
        }
        .header
        {
            height: 70px;
            display:flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .frst
        {
            display:flex;
            width:200px;
            align-items: center;
            margin-right: 20px;;
        }
        .second
        {
            display:flex;
            width: 400px;
            align-items: center;
        }
        .third
        {
            display:flex;
            width: 150px;
            justify-content: space-between;
            align-items: center;
        }
        .logo
        {
            height:25px;
        }
        .menu
        {
            height:35px;
            margin-right: 15px;
        }
        .search
        {
            height:35px;
            border-style: solid;

            width: 300px;
            border-radius: 1px;
            border-color: rgb(128, 128, 128);
        }
        .search::placeholder{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
           padding-left: 10px;
          
        }
        .search-icon{
           width:30px;
           margin-left: 8px;
        }
        .mic{
            width:25px;
            margin-left: 10px;
        }
